.menN {
    display: flex;
    /* border: 1px solid red; */
    width: 72%;
    margin: auto;
    height: 40px;
    align-items: center;
    gap: 10px;
}

.menN>p {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
}

/* main cont */

.main-cont {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

}

.cont-child1 {
    /* border: 1px solid blue; */
    width: 20%;
}

.filter>select {

    border: none;
    width: 290px;
    height: 40px;
    border-bottom: 1px solid grey;
    margin: 8px;
    gap: 12px;

}

.cont-child2 {
    width: 60%;
    /* border: 1px solid blue; */
}

.cont-child2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.child-22 {
    /* width: 50%; */
    margin: 4px;
    height: 540px;
    border: 1px solid rgb(238, 238, 238);
}

.child-22>img {
    height: 80%;
    width: 100%;
}

.buttons {
    /* border: 1px solid grey; */
    border: 1px solid rgb(199, 196, 196);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 50px;
    gap: 20px;
}
.buttons>button{
    width: 100px;
    height: 40px;
    border: none;
    background-color: rgb(244, 202, 202);
    border-radius: 6px;
}
.buttons>button:hover{
    background-color: rgb(245, 215, 250);
    cursor: pointer;
}
